.online {
    color: #5fd85f;
}
.offline {
    color: #c5b9b9;
}
.chat-users {
    text-align: center;
}
.chat-users-header {
    font-family: Courier-New;
    font-size: 1.1em;
    font-weight: bold;
}
