.img-thumb-you {
    width: 30px;
    height: 30px;
}
input::-webkit-input-placeholder {
    font-style: inherit;
    font-family: cursive;
    opacity: 0.5;
    font-size: small;
}
.room-header {
    font-family: Courier-New;
    font-size: 1.1em;
    font-weight: bold;
}
.custom-mute {
    font-size: 0.7rem;
    color: #b7b8b8 !important;
}
.chat-text {
    font-size: 0.9em;
    font-family: cursive;
}
.chat-receiver {
    background: #e6fbbe;
}
