<span class="room-header" *ngIf="user">Your Coversation with {{user.displayName | titlecase}}</span>
<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="user.chatmessage" (keyup.enter)="sendMessage()"
        aria-describedby="chatHelp" placeholder="Click to start typing.." />
    <small id="emailHelp" class="form-text text-muted">Press enter key to send your message</small>
</div>
<div id="chat-room">
    <div class="list-group" *ngFor="let message of messages | async">
        <a *ngIf="isSenderOrReceiver(message)" [ngClass]="{
            'chat-receiver': message.to === afService.email
        }" class="list-group-item list-group-item-action flex-column align-items-start border-0">

            <div class="d-flex w-100 justify-content-between" *ngIf="message.fromId==afService.userId">
                <div class="mb-1"><small class="custom-mute">{{message.timestamp | date:"dd-MMM-yy hh:mm a"}}</small>
                </div>
                <div class="mb-1" style="max-width:20em;">
                    <p class="mb-1 chat-text">
                        <img src="{{auth.userProfile.picture}}" class="img-thumbnail img-thumb-you border-0" />
                        {{message.message}}
                    </p>
                </div>
            </div>

            <div class="d-flex w-100 justify-content-between" *ngIf="message.toId==afService.userId">
                <div class="mb-1" style="max-width:20em;">
                    <p class="mb-1 chat-text">
                        <ng-container *ngIf="user.picture; else displayName">
                            <img [src]="user.picture" class="img-thumbnail img-thumb-you border-0" />
                        </ng-container>
                        {{message.message}}
                    </p>
                </div>
                <div class="mb-1"><small class="custom-mute">{{message.timestamp | date:"dd-MMM-yy hh:mm a"}}</small>
                </div>

            </div>

        </a>
    </div>
</div>

<ng-template #displayName>
    {{ user.displayName }}
</ng-template>